{
  "openapi": "3.0.3",
  "info": {
    "title": "datasink API",
    "description": "Small HTTP surface for the datasink web demo. Scrub/rinse/soak run in the browser; only health and the Firecrawl proxy are server-side.",
    "version": "0.4.1",
    "contact": {
      "name": "Total Audio Promo",
      "url": "https://totalaudiopromo.com",
      "email": "info@totalaudiopromo.com"
    }
  },
  "servers": [
    {
      "url": "https://datasink.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "version": { "type": "string", "example": "0.4.1" },
                    "service": { "type": "string", "example": "datasink" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/firecrawl-proxy": {
      "post": {
        "summary": "Outlet page scrape proxy",
        "description": "Forwards one Firecrawl scrape. Supply your own Firecrawl key in the body; it is not stored.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "example": "https://example-music-blog.com" },
                  "firecrawlKey": { "type": "string", "example": "fc-..." }
                },
                "required": ["url", "firecrawlKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped markdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
